header.hero-cont {
  position: relative;
  width: 100%;
  padding: 100px 35px 100px 35px;
  color: white;
  background: url("../Hero/img/bg-pattern.png"), #7b4397;
  background: url("../Hero/img/bg-pattern.png"),
    -webkit-linear-gradient(to left, #7b4397, rgb(63, 182, 218));
  background: url("../Hero/img/bg-pattern.png"),
    linear-gradient(to left, #7b4397, rgb(63, 182, 218));
  /* background: url("./img/bg-pattern.png"), #7b4397;
  background: url("./img/bg-pattern.png"),
    -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("./img/bg-pattern.png"),
    linear-gradient(to left, #7b4397, #dc2430); */
  max-width: 500px;
  text-align: center;
  font-size: 28px;
}

.me {
  width: 250px;
  border-radius: 50%;
  margin-bottom: 50px;
  border: 1px solid white;
}

.header-content {
  margin-bottom: 50px;
}
