.writing-cont {
  background-color: white;
  padding: 35px;
}

.writing-header {
  text-align: center;
  font-size: 50px;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.writing-content {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  font-family: Muli, Helvetica, Arial, sans-serif;
  text-align: center;
}